<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egg8">
    <!-- 퍼미션 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <meta-data
        android:name="com.kakao.sdk.AppKey"
        android:value="62b24885127d89958eafff0d68e4c03a" />

    <application
        android:name=".common.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_res"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_res_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.user.Shop_Map"></activity>
        <activity android:name=".ui.supp.Add_Photo_Notice" />
        <activity android:name=".ui.user.User_Main" />
        <activity android:name=".ui.user.Shop_Main" />
        <activity android:name=".ui.user.common.ShopSearchActivity" />
        <activity android:name=".ui.user.common.ShopListActivity" />
        <activity android:name=".ui.supp.ChangeCategory" />
        <activity android:name=".ui.reservation.ReservationActivity" />
        <activity android:name=".ui.shop.ShopActivity" />
        <activity android:name=".ui.user.register.Register_Base" />
        <activity android:name=".ui.user.common.IntroActivity" />
        <activity android:name=".ui.user.register.Register_SMS" />
        <activity android:name=".ui.user.login.LoginActivity" />
        <activity android:name=".ui.calendar.CalendarActivity" />
        <activity android:name=".ui.user.register.Register_Terms" />
        <activity android:name=".ui.supp.EnrollActivity" />
        <activity android:name=".ui.supp.EnrollActivity2" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" />
    </application>

</manifest>