<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egg8">
    <!-- 퍼미션 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name=".common.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_res"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_res_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.reservation.ReservationActivity"></activity>
        <activity android:name=".ui.user.ShopActivity"></activity>
        <activity android:name=".ui.user.register.JoinActivity3" />
        <activity android:name=".ui.user.IntroActivity" />
        <activity android:name=".ui.user.register.JoinActivity2" />
        <activity android:name=".ui.user.login.LoginActivity" />
        <activity android:name=".ui.calendar.CalendarActivity" />
        <activity android:name=".ui.user.register.JoinActivity" />
        <activity
            android:name="com.egg8.ui.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.MainActivity">

        </activity>
    </application>

</manifest>